# DISABLE SELINUX!
# journalctl -u krafttex_workers_3000.service -f
# kopirati u /usr/lib/systemd/system/
# napraviti link u /etc/systemd/system (izgleda da ne mora)

[Unit]
Description=Krafttex workers version 3000

[Service]
User=root
WorkingDirectory=/home/krafttex
ExecStart=/home/krafttex/worker
Restart=always
RestartSec=3
StandardOutput=null
StandardError=journal
#StandardOutput=append:/home/krafttex/worker_info.log
#StandardError=append:/home/krafttex/worker_error.log

[Install]
WantedBy=multi-user.target
